* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .wrapper {
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: rgb(213, 243, 255);
    border-radius: 5px;
    overflow: hidden;

}

.wrapper .title_con {
    position: absolute;
    width: 100%;
    padding: 8px;
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(184, 199, 216, 0.897);
}

.title_con p {
    color: rgba(0, 0, 0, 0.719);
}

.wrapper .post_container {
    position: absolute;
    padding: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper .post_container #post_id {
    width: 100%;
    height: 180px;
    border: 1px solid rgba(184, 199, 216, 0.973);
    resize: none;
}

.wrapper .remain {
    position: absolute;
    display: flex;
    width: 100%;
    /* background-color: red; */
    padding: 10px 14px;
    bottom: 0;
}

.remain h4,
.remain p {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.remain h4 {
    color: rgba(0, 32, 51, 0.884);
}